#navbar {
  display: flex;
  font-weight: 600;
  font-size: large;
  /* padding: 40px; */
}
ul li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 8px;
  margin: 10px;
}


/* .nav-link {
  transition: transform 0.3s, text-decoration 0.2s;
  color: #72348d;
}
.nav-link:hover {
  color: #72348d;
  scale: 1;
  transform: scale(1.2);
} */


.nav-link {
  transform: scale(1) rotate(0);
  transition: transform 0.5s;
}
.nav-link:hover {
  transform: scale(1.1) rotate(-10deg);
}

.active {
  color: red;
  /* color: #72348d; */
  scale: 1;
  transform: scale(1.2);
  /* transform: scale(1) rotate(0); */
  transform: scale(1.1) rotate(-5deg);
}
