#navbar {
  display: flex;
  font-weight: 600;
  font-size: large;
}
ul li {
  list-style-type: none;
  padding: 8px;
  margin: 10px;
}
ul li:hover {
  background-color: #efefef;
}
.effect {
  transition: transform 0.3s, text-decoration 0.2s;
  border-radius: 8px;
  color: purple;
}

.effect:hover {
  color: #72348d;
  scale: 1;
  transform: scale(1.2);
}
.nav-link {
  transition: transform 0.3s, text-decoration 0.2s;
  color: #72348d;
  text-decoration: none;
}

.nav-link:hover {
  color: #72348d;
  transform: scale(1.2);
}

.active {
  text-decoration: 3px red underline;
  text-underline-offset: 10px;
  transform: scale(1);
  transition: text-decoration 0.5s;
}
